<!DOCTYPE html>
<html>
<head>
  <include file="commonHead" />
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <include file="commonTop" />
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <include file="commonLeft" />
    </div>
  </div>
  <div class="layui-body">
    <!-- 内容主体区域 -->
		<form class="layui-form" action="__CONTROLLER__/add" method="post" enctype="multipart/form-data">
			<div class="layui-form-item">
		    <label class="layui-form-label">是否启用</label>
		    <div class="layui-input-block">
		      <input type="radio" name="enable" value="1" title="是" checked>
		      <input type="radio" name="enable" value="0" title="否" >
		    </div>
		  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">标题</label>
    <div class="layui-input-block">
      <input type="text"  name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">排序</label>
    <div class="layui-input-block">
      <input type="number"  name="usersort" min="1" max="9999"  placeholder="请输入排序，不输入默认1，数值越大越靠前" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">报名人数</label>
    <div class="layui-input-block">
      <input type="number" min="1" max="9999" name="number" required  lay-verify="required" placeholder="请输入报名人数" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">活动时间</label>
    <div class="layui-input-block">
      <input type="text" name="times" required  lay-verify="required" placeholder="请输入活动时间" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">活动主图</label>
    <div class="layui-input-inline">
      <div class="layui-btn" style="position: relative;">
      	  <i class="layui-icon">&#xe67c;</i>上传图片
      	<input style="position: absolute; top: 0px;left: 0px; opacity: 0;width: 100%;height: 100%;" type="file" name="img" required  lay-verify="required"  class="">
      </div>
    </div>
  </div>
  
  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">活动内容</label>
    <div class="layui-input-block">
      <textarea name="content" placeholder="请输入内容，仅限文字，不含各种样式" class="layui-textarea"></textarea>
    </div>
  </div>
  
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
 
<script>


</script>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    By Cai.技术支持：935291958@qq.com
  </div>
</div>
<script src="__PUBLIC__/common/layui/layuiAll.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  
});
</script>


</body>


</html>