<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>广州新时代医院微信小程序管理后台</title>
<link rel="stylesheet" href="/Public/common/layui/css/layui.css"> <link rel="stylesheet" href="/PUBLIC/xsdxcx/css/common.css">
<script src="/public/common/js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8" src="http://www.ynlike.top/Public/common/js/commonFunc.js"></script>
<style type="text/css">
    .cp{
        cursor :pointer;
    }
    .icoFont{
        font-size: 22px;
        padding-left: 10px;
    }
    .allDataTable{
    }
    .allDataTable td{
        height: 50px;
        vertical-align: middle;
        line-height: 50px;
        overflow: hidden;
        text-overflow:ellipsis;
    }
    .allDataTable img{
        width: auto;
        height: 100%;
        max-height: 100%;
    }
</style>