<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
<ul class="layui-nav layui-nav-tree" lay-filter="test">
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="__CONTROLLER__/index">活动文档</a>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="__CONTROLLER__/add">添加活动</a>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="__CONTROLLER__/yyghbanner">banner</a>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="__CONTROLLER__/forms">预约表单</a>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="__CONTROLLER__/proList">项目列表</a>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="__CONTROLLER__/project">增加项目</a>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="__CONTROLLER__/order">商户订单列表</a>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="__CONTROLLER__/wxpay">微信订单列表</a>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="__CONTROLLER__/selectOrder">订单详情查询</a>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="__CONTROLLER__/downBills">下载对账单</a>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="__CONTROLLER__/refundquery">查询退款</a>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="__CONTROLLER__/userList">粉丝管理</a>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="__CONTROLLER__/role">分组管理</a>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="__CONTROLLER__/adminList">管理员列表</a>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="__CONTROLLER__/nodeList">权限列表</a>
    </li>
</ul>