<div class="layui-header">
    <div class="layui-logo">新时代小程序后台管理</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="__CONTROLLER__">控制台</a></li>
        <!--<li class="layui-nav-item"><a href="">商品管理</a></li>-->
        <!--<li class="layui-nav-item"><a href="">用户</a></li>-->
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="{$adminData.img}" onclick="window.open(this.src)" class="layui-nav-img">
                {$adminData.nickname}
            </a>
            <dl class="layui-nav-child">
                <dd><a href="__APP__/Admin/Login/out">退了</a></dd><!--<dd><a href="">基本资料</a></dd>-->
                <!--<dd><a href="">安全设置</a></dd>-->
            </dl>
        </li>
        <li class="layui-nav-item"><a href="__APP__/Admin/Login/out">退了</a></li>
    </ul>
</div>