<!DOCTYPE html>
<html>
<head>
    <include file="commonHead"/>
    <style>
        #pages .layui-laypage {
            display: table;

            margin: 20px auto;

        }
    </style>
</head>
<body class="layui-layout-body">

<!--添加分组-->
<div id="addformBox" style="display: none">
    <form class="layui-form" action="__ACTION__" method="post" id="" enctype="multipart/form-data">
        <div class="layui-form-item">
            <label class="layui-form-label">权限名称</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required" name="name" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否显示</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="1" title="是" checked>
                <input type="radio" name="sex" value="0" title="否" >
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<div class="layui-layout layui-layout-admin">


    <include file="commonTop"/>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <include file="commonLeft"/>
        </div>
    </div>
    <div class="layui-body">



        <div class="layui-btn-group" style="display: block;">
            <button class="layui-btn layui-btn-sm" id="onadd">
                <i class="layui-icon">&#xe654;</i>
            </button>
            
        </div>



        <!-- 内容主体区域 -->
        <table class="allDataTable" width="100%" lay-even lay-skin="line" lay-size="lg">
            <thead>
            <tr>
                <td class="layui-col-md1">ID</td>
                <td class="layui-col-md2">权限名称</td>
                <td class="layui-col-md2">是否显示在菜单栏</td>
                <td class="layui-col-md2">更新/添加时间</td>
                <td class="layui-col-md2">操作</td>
            </tr>
            </thead>
            <volist name="list" id="vo" mod="2" empty="暂时没有数据">
                <tr class='layui-row layui-text <eq name="mod" value="1">layui-bg-gray</eq>'
                    style="padding: 15px;font-size: 16px;">
                    <td class="layui-col-md1">
                        {$vo.id}
                    </td>
                    <td class="layui-col-md2">
                        {$vo.name}
                    </td>
                    <td class="layui-col-md2">
                        {$vo.name}
                    </td>


                    <td class="layui-col-md2"
                        title="更新时间：{$vo.uptime|date='m月d日',###},添加时间：{$vo.addtime|date='m月d日',###}">
                        {$vo.uptime|date='m月d日',###} <sub>{$vo.addtime|date='m月d日',###}</sub>
                    </td>
                    <td class="layui-col-md1">
                        <i class="layui-icon cp delRole icoFont" title="删除" data-id="{$vo.id}"
                           data-type="del">&#xe640;</i>
                        <a href="__CONTROLLER__/upProView/proid/{$vo.id}">
                            <i class="layui-icon cp upRole icoFont" title="修改" data-id="{$vo.id}" data-type="up">&#xe642;</i>
                        </a>
                    </td>
                </tr>
            </volist>
        </table>

        <div id="pages"></div>



        <!--更新分组-->
        <div id="updateFormBox" style="display: none">
            <form class="layui-form" id="updateForm"  method="post"  enctype="multipart/form-data">
                <div class="layui-form-item">
                    <label class="layui-form-label">ID</label>
                    <div class="layui-input-block">
                        <input type="text" lay-verify="required" disabled id="updateId" name="id" placeholder="" autocomplete="on" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">分组名称</label>
                    <div class="layui-input-block">
                        <input type="text" lay-verify="required" id="updateName" name="name" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemoUpdate">立即提交</button>
                        <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        By Cai.技术支持：935291958@qq.com
    </div>
</div>
<script src="__PUBLIC__/common/layui/layuiAll.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>
<script>
    //点击+显示弹窗
    $('#onadd').click(function () {
        layer.open({
            type: 1,
            content: $('#addformBox'),  //这里content是一个DOM

        });
    });

    //添加的事件
    layui.form.on('submit(formDemo)', function (data) {
        $name = data.field.name;
        $.ajax({
            url:'__CONTROLLER__/addRole',
            type:'post',
            data:{name:$name},
            success:function (data) {
                if(data.res){
                    layer.msg(data.msg);
                    setTimeout(function () {
                        window.location.href = window.location.href;
                    },1000)
                }else{
                    layer.alert(data.msg);
                }


            },
            error:function () {
                layer.alert('请求失败');
            }
        });

        return false;
    });

    //删除分组
    $('.delRole').click(function () {
        $id = $(this).data('id');
        $that = $(this);
        $.ajax({
            url:'__CONTROLLER__/delRole',
            type:'post',
            data:{id:$id},
            success:function (data) {
                if(data.res){
                    layer.msg(data.msg);
                    $that.parent().parent().css('display','none');
                }else{
                    layer.alert(data.msg);
                }
            },
            error:function () {
                layer.alert('请求失败');
            }
        });
        return false;
    });

    //更新分组，显示中间弹窗和源数据
    $('.upRole').click(function () {
        $that = $(this);
        $id = parseInt( $that.data('id') );
        //先查看源数据
        $.ajax({
           url:'__CONTROLLER__/selectRole',
            data:{id:$id},
            type:'post',
            success:function (res) {
                c(res);

                //只有返回了true才表示有数据
                if(!res.res){
                    layer.alert(res.msg);
                    return false;
                }
                //弹出源数据
                layer.open({
                    type: 1,
                    title:'更新数据',
                    content: $('#updateFormBox').html() //这里content是一个DOM
                });

                //赋值
                $('#updateForm').find('#updateId').val(res.msg.id);
                $('#updateForm').find('#updateName').val(res.msg.name);






            },
            error:function () {
                layer.layer('请求失败');
            }
        });

        return false;

    });

    //更新数据，用户点了提交按钮
    layui.form.on('submit(formDemoUpdate)', function (data) {
        $name = data.field.name;
        $id = parseInt( data.field.id );
        $.ajax({
            url:'__CONTROLLER__/upRole',
            type:'post',
            data:{name:$name,id:$id},
            success:function (data) {
                if(data.res){
                    layer.msg(data.msg);
                    setTimeout(function () {
                        window.location.href = window.location.href;
                    },1000)
                }else{
                    layer.alert(data.msg);
                }


            },
            error:function () {
                layer.alert('请求失败');
            }
        });

        return false;
    });

</script>


</body>


</html>
