<!DOCTYPE html>
<html>
<head>
    <include file="commonHead"/>
    <script>
        var ajaxPicname = '{$ajaxPicname}';
    </script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <include file="commonTop"/>


    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <include file="commonLeft"/>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <form class="layui-form" action="__ACTION__" method="post" enctype="multipart/form-data">
            <div class="layui-form-item">
                <label class="layui-form-label">是否上架</label>
                <div class="layui-input-block">
                    <input type="radio" name="enable" value="1" title="是" checked>
                    <input type="radio" name="enable" value="0" title="否">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商品名称</label>
                <div class="layui-input-block">
                    <input type="text" name="title" required lay-verify="required"
                           placeholder="请输入商品名称[双眼皮]" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-block">
                    <input type="number" name="usersort" min="1" max="9999" value="1"
                           placeholder="请输入排序，不输入默认1，数值越大越靠前[99]" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">购买人数</label>
                <div class="layui-input-block">
                    <input type="number" id="gmrs" value="999" name="number" min="1" max="9999"
                           placeholder="请输入购买人数[99]" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">原价</label>
                <div class="layui-input-block">
                    <input type="text"  name="oldprice" required
                           lay-verify="required" placeholder="请输入原价[9999]" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">现价</label>
                <div class="layui-input-block">
                    <input type="text"   name="newprice" placeholder="请输入现价[666]"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">有效时间</label>
                <div class="layui-input-block">
                    <input type="text" name="times"  required lay-verify="required"
                           placeholder="请输入有效时间[2017/11/28至2017/12/28]" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">banner</label>
                <div class="layui-input-block">
                    <div class="layui-input-inline">
                        <div class="layui-btn" style="position: relative;" id="banner">
                            <i class="layui-icon">&#xe67c;</i>选择图片
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item" id="bannerImg" style="display: none">
                <label class="layui-form-label">封面预览</label>
                <div class="layui-input-block">
                    <div class="layui-input-inline">
                        <input type="hidden" value="" name="banner">
                        <img src="/Uploads_xsd/2017-11-30/5a1fa764f1b36.jpg" alt="" width="200">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">项目封面</label>
                <div class="layui-input-block">
                    <div class="layui-input-inline">
                        <div class="layui-btn" style="position: relative;" id="picname">
                            <i class="layui-icon">&#xe67c;</i>选择图片
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item" id="picnameImg" style="display: none">
                <label class="layui-form-label">封面预览</label>
                <div class="layui-input-block">
                    <div class="layui-input-inline">
                        <input type="hidden" value="" name="picname">
                        <img src="/Uploads_xsd/2017-11-30/5a1fa764f1b36.jpg" alt="" width="200">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">活动主图</label>

                <div id="imgBox">

                    <div class="layui-input-inline">
                        <div class="layui-btn" style="position: relative;">
                            <i class="layui-icon">&#xe67c;</i>选择图片
                            <input style="position: absolute; top: 0px;left: 0px; opacity: 0;width: 100%;height: 100%;"
                                   type="file" name="img[]" class="">
                        </div>
                    </div>

                </div>
                <div class="layui-input-inline" id="addImg">
                    <div class="layui-btn" style="position: relative;">
                        <i class="layui-icon">&#xe654;</i>增加图片

                    </div>
                </div>
            </div>


            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">商品备注</label>
                <div class="layui-input-block">
                    <textarea name="content" placeholder="该备注不在前台显示，仅供日常参考" class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

        <script>


        </script>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        By Cai.技术支持：935291958@qq.com
    </div>
</div>
<script src="__PUBLIC__/common/layui/layuiAll.js"></script>
<script src="__PUBLIC__/xsdxcx/js/project.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>


</body>
</html>