<!DOCTYPE html>
<html>
<head>
    <include file="commonHead"/>
    <style>
        #pages .layui-laypage {
            display: table;

            margin: 20px auto;

        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">


    <include file="commonTop"/>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <include file="commonLeft"/>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <table class="allDataTable" width="100%" lay-even lay-skin="line" lay-size="lg">
            <thead>
            <tr>
                <td class="layui-col-md1">ID</td>
                <td class="layui-col-md2">项目名称</td>
                <td class="layui-col-md1">封面</td>
                <td class="layui-col-md1">原价</td>
                <td class="layui-col-md1">现价</td>
                <td class="layui-col-md1">有效时间</td>
                <td class="layui-col-md1">是否上架</td>
                <td class="layui-col-md1">排序</td>
                <td class="layui-col-md2">更新/添加时间</td>
                <td class="layui-col-md1">操作</td>
            </tr>
            </thead>
            <volist name="list" id="vo" mod="2" empty="暂时没有数据">
                <tr class='layui-row layui-text <eq name="mod" value="1">layui-bg-gray</eq>'
                    style="padding: 15px;font-size: 16px;">
                    <td class="layui-col-md1">
                        {$vo.id}
                    </td>
                    <td class="layui-col-md2">
                        {$vo.title}
                    </td>
                    <td class="layui-col-md1">
                        <img src="{$vo.picname}" alt="" width="">
                    </td>
                    <td class="layui-col-md1">
                        {$vo.oldprice}
                    </td>
                    <td class="layui-col-md1">
                        {$vo.newprice}
                    </td>
                    <td class="layui-col-md1">
                        {$vo.times}
                    </td>
                    <td class="layui-col-md1">
                        <if condition="$vo['enable'] eq 1 ">是
                            <else/>
                            否
                        </if>
                    </td>
                    <td class="layui-col-md1">
                        {$vo.usersort}
                    </td>
                    <td class="layui-col-md2"
                        title="更新时间：{$vo.uptime|date='m月d日',###},添加时间：{$vo.addtime|date='m月d日',###}">
                        {$vo.uptime|date='m月d日',###} <sub>{$vo.addtime|date='m月d日',###}</sub>
                    </td>
                    <td class="layui-col-md1">
                        <i class="layui-icon cp delBlog icoFont" title="删除" data-id="{$vo.id}"
                           data-type="del">&#xe640;</i>
                        <a href="__CONTROLLER__/upProView/proid/{$vo.id}">
                            <i class="layui-icon cp upBlog icoFont" title="修改" data-id="{$vo.id}" data-type="up">&#xe642;</i>
                        </a>
                    </td>
                </tr>
            </volist>
        </table>

        <div id="pages"></div>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        By Cai.技术支持：935291958@qq.com
    </div>
</div>
<script src="__PUBLIC__/common/layui/layuiAll.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>
<script>
    layui.use('laypage', function () {
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'pages' //注意，这里的 test1 是 ID，不用加 # 号
            , count: '{$count}' //数据总数，从服务端得到
            , limit: '{$limit}'
            , limits: [10, 20, 30, 40, 50]
            , layout: ['prev', 'page', 'next', 'count', 'limit', 'skip']
            , curr: {$page}//获取起始页
            , jump: function (obj, first) {

                //首次不执行
                if (!first) {
                    var curr = obj.curr;//得到当前页，以便向服务端请求对应页的数据。
                    var limit = obj.limit;//得到每页显示的条数
                    window.location.href = window.location.origin + window.location.pathname + '?page=' + curr + '&limit=' + limit;


                }

            }
        });
    });
</script>

</body>


<script type="text/javascript">


    //删除功能
    $('.delBlog').click(function () {
        var _this = $(this);
        $id = _this.data('id');
        $type = _this.data('type');
        var layerIndex = layer.confirm('确定要删除吗？', {
            btn: ['是的', '我点错了'],
            title: '询问框',
            //用户点了确定
            btn1: function () {
                if ($type === 'del') {
                    $.ajax({
                        url: '__CONTROLLER__/delPro',
                        data: {'proid': $id},
                        dataType: 'json',
                        success: function (res) {
                            if ('object' === typeof res && res.msg) {
                                layer.msg(res.msg);
                                _this.parent('td').parent('tr').css('display', 'none');


                            } else {
                                layer.alert('服务器返回数据有误！', {'icon': 2, 'time': 3000});
                            }
                        },
                        error: function () {
                            layer.alert('请求服务器失败！', {'icon': 2, 'time': 3000});
                        }
                    })
                }
            },

        });


    })
</script>
</html>