<!DOCTYPE html>
<html>
<head>
    <include file="commonHead"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <include file="commonTop"/>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <include file="commonLeft"/>

        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <form class="layui-form" action="__CONTROLLER__/upPro" method="post" enctype="multipart/form-data">
            <div class="layui-form-item">
                <label class="layui-form-label">
                    是否上架
                </label>
                <div class="layui-input-block">
                    <input type="radio" name="enable" value="1" title="是"
                    <if condition="$data['enable'] eq 1 ">checked</if>
                    >
                    <input type="radio" name="enable" value="0" title="否"
                    <if condition="$data['enable'] eq 0 ">checked</if>
                    >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">项目名称</label>
                <div class="layui-input-block">
                    <input type="text" name="title" required lay-verify="required" value="{$data.title}"
                           placeholder="请输入标题" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-block">
                    <input type="number" value="{$data.usersort}" name="usersort" min="1" max="9999"
                           placeholder="请输入排序，不输入默认0，数值越大越靠前" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">购买人数</label>
                <div class="layui-input-block">
                    <input type="number" min="0" max="9999" name="number" required value="{$data.number}"
                           lay-verify="required" placeholder="请输入购买人数" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">原价</label>
                <div class="layui-input-block">
                    <input  name="oldprice" required value="{$data.oldprice}"
                           lay-verify="required" placeholder="请输入原价" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">现价</label>
                <div class="layui-input-block">
                    <input  name="newprice" required value="{$data.newprice}"
                           lay-verify="required" placeholder="请输入现价" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">有效时间</label>
                <div class="layui-input-block">
                    <input type="text" name="times" required lay-verify="required" value="{$data.times}"
                           placeholder="请输入活动时间" autocomplete="off" class="layui-input">
                </div>
            </div>

            <!--banner-->
            <div class="layui-form-item">
                <label class="layui-form-label">banner</label>
                <div class="layui-input-block">
                    <div class="layui-input-inline">
                        <div class="layui-btn" style="position: relative;" id="banner">
                            <i class="layui-icon">&#xe67c;</i>选择图片
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item" id="bannerImg" style="display: none">
                <label class="layui-form-label">banner预览</label>
                <div class="layui-input-block">
                    <div class="layui-input-inline">
                        <input type="hidden" value="{$data.banner}" name="banner">
                        <img src="/Uploads_xsd/2017-11-30/5a1fa764f1b36.jpg" alt="" width="200">
                    </div>
                </div>
            </div>




            <!--原来的banner-->
            <div class="layui-form-item" id="oldBanner">
                <label class="layui-form-label">banner</label>
                <div class="layui-input-block">
                    <if condition="$data['banner'] eq '' "><img src="/Public/xsdxcx/images/banner.jpg" width="200">
                        <else /> <img src="{$data.banner}" alt="" title="{$data.banner}" width="200">
                    </if>


                    <i class="layui-icon cp delBanner icoFont" style="font-size: 30px;" title="删除"
                       data-proid="{$data.id}" data-type="delBanner">&#xe640;</i>
                    <a href="{$data.banner}" target="_blank"><i class="layui-icon cp downImg icoFont"
                                                                 style="font-size: 30px;" title="保存图片" data-src="{$vo}"
                                                                 data-type="down">&#xe61e;</i></a>
                </div>
            </div>


            <!--封面-->
            <div class="layui-form-item">
                <label class="layui-form-label">项目封面</label>
                <div class="layui-input-block">
                    <div class="layui-input-inline">
                        <div class="layui-btn" style="position: relative;" id="picname">
                            <i class="layui-icon">&#xe67c;</i>选择图片
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item" id="picnameImg" style="display: none">
                <label class="layui-form-label">封面预览</label>
                <div class="layui-input-block">
                    <div class="layui-input-inline">
                        <input type="hidden" value="{$data.picname}" name="picname">
                        <img src="/Uploads_xsd/2017-11-30/5a1fa764f1b36.jpg" alt="" width="200">
                    </div>
                </div>
            </div>




            <!--原来的封面大图-->
            <div class="layui-form-item" id="oldPicname">
                <label class="layui-form-label">封面</label>
                <div class="layui-input-block">
                    <if condition="$data['picname'] eq '' "><img src="/Public/xsdxcx/images/picname.jpg" width="200">
                        <else /> <img src="{$data.picname}" alt="" title="{$data.picname}" width="200">
                    </if>


                    <i class="layui-icon cp delPicname icoFont" style="font-size: 30px;" title="删除"
                       data-proid="{$data.id}" data-type="delPicname">&#xe640;</i>
                    <a href="{$data.picname}" target="_blank"><i class="layui-icon cp downImg icoFont"
                                                       style="font-size: 30px;" title="保存图片" data-src="{$vo}"
                                                       data-type="down">&#xe61e;</i></a>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">活动主图</label>

                <div id="imgBox">

                    <div class="layui-input-inline">
                        <div class="layui-btn" style="position: relative;">
                            <i class="layui-icon">&#xe67c;</i>选择图片
                            <input style="position: absolute; top: 0px;left: 0px; opacity: 0;width: 100%;height: 100%;"
                                   type="file" name="img[]" class="">
                        </div>
                    </div>
                    <div class="layui-input-inline">
                        <div class="layui-btn" style="position: relative;">
                            <i class="layui-icon">&#xe67c;</i>选择图片
                            <input style="position: absolute; top: 0px;left: 0px; opacity: 0;width: 100%;height: 100%;"
                                   type="file" name="img[]" class="">
                        </div>
                    </div>
                    <div class="layui-input-inline">
                        <div class="layui-btn" style="position: relative;">
                            <i class="layui-icon">&#xe67c;</i>选择图片
                            <input style="position: absolute; top: 0px;left: 0px; opacity: 0;width: 100%;height: 100%;"
                                   type="file" name="img[]" class="">
                        </div>
                    </div>
                    <div class="layui-input-inline">
                        <div class="layui-btn" style="position: relative;">
                            <i class="layui-icon">&#xe67c;</i>选择图片
                            <input style="position: absolute; top: 0px;left: 0px; opacity: 0;width: 100%;height: 100%;"
                                   type="file" name="img[]" class="">
                        </div>
                    </div>
                    <div class="layui-input-inline">
                        <div class="layui-btn" style="position: relative;">
                            <i class="layui-icon">&#xe67c;</i>选择图片
                            <input style="position: absolute; top: 0px;left: 0px; opacity: 0;width: 100%;height: 100%;"
                                   type="file" name="img[]" class="">
                        </div>
                    </div>
                    <div class="layui-input-inline">
                        <div class="layui-btn" style="position: relative;">
                            <i class="layui-icon">&#xe67c;</i>选择图片
                            <input style="position: absolute; top: 0px;left: 0px; opacity: 0;width: 100%;height: 100%;"
                                   type="file" name="img[]" class="">
                        </div>
                    </div>

                </div>
            </div>

            <!--活动大图-->
            <volist name="data['img']" id="vo" mod="2" empty="暂时没有主图">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">图片{$i}</label>
                    <div class="layui-input-block">
                        <img src="{$vo}" width="200"/>
                        <i class="layui-icon cp delProImg icoFont" style="font-size: 30px;" title="删除" data-src="{$vo}"
                           data-proid="{$data.id}" data-type="del">&#xe640;</i>
                        <a href="{$vo}" target="_blank"><i class="layui-icon cp downImg icoFont"
                                                           style="font-size: 30px;" title="保存图片" data-src="{$vo}"
                                                           data-type="down">&#xe61e;</i></a>

                    </div>
                </div>
            </volist>


            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea name="content" placeholder="请输入内容，仅限文字，不含各种样式"
                              class="layui-textarea">{$data.content}</textarea>
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="hidden" name="id" value="{$data.id}"/>
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

        <script>


        </script>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        By Cai.技术支持：935291958@qq.com
    </div>
</div>
<script src="__PUBLIC__/common/layui/layuiAll.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
    //AJAX请求链接，控制器[xcx.php/Admin/Index]
    const CONTROLLER = '__CONTROLLER__';
    //AJAX封面上传请求
    var ajaxPicname = '{$ajaxPicname}';
</script>

<script src="__PUBLIC__/xsdxcx/js/upPro.js"></script>
</body>




</html>