<!DOCTYPE html>
<html>
<head>
    <include file="commonHead"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <include file="commonTop"/>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <include file="commonLeft"/>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <table id="mainTable" lay-filter=""></table>


    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        By Cai.技术支持：935291958@qq.com
    </div>
</div>
<script src="__PUBLIC__/common/layui/layuiAll.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>


</body>

<script>
    layui.use('table', function () {
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#mainTable'
            , url: '__ACTION__' //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'id', title: 'ID', width: 80, sort: true, sort: true, align: "centent"}
                , {field: 'appid', title: 'appid', width: 200}
                , {field: 'openid', title: 'openid', width: 230}
                , {field: 'attach', title: '商品数据', width: 230}
                , {field: 'cash_fee', title: '现金支付金额', width: 150}
                , {field: 'total_fee', title: '订单金额', width: 150}
                , {field: 'time_end', title: '支付完成时间', width: 150}
                , {field: 'out_trade_no', title: '商户订单号', width: 200}
                , {field: 'transaction_id', title: '微信支付订单号', width: 300}
                , {field: 'addtime', title: '添加时间', width: 200}

            ]]
            , done: function (res, curr, count) {
                $('.laytable-cell-1-addtime').each(function (i) {
                    if (i === 0) {
                        return true;
                    }
                    $time = $(this).text();
                    var newDate = new Date();
                    newDate.setTime($time * 1000);
                    $(this).html(newDate.toLocaleString());

                });

            }
        });

    });
</script>
</html>