<!DOCTYPE html>
<html>
<head>
    <include file="commonHead"/>
    <style>
        #pages .layui-laypage {
            display: table;

            margin: 20px auto;

        }
    </style>
</head>
<body class="layui-layout-body">


<div class="layui-layout layui-layout-admin">


    <include file="commonTop"/>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <include file="commonLeft"/>
        </div>
    </div>
    <div class="layui-body">


        <div class="layui-btn-group" style="display: block;">
            <a href="__CONTROLLER__/addyyghban">
                <button class="layui-btn layui-btn-sm">
                    <i class="layui-icon">&#xe654;</i>
                </button>
            </a>
        </div>


        <!-- 内容主体区域 -->
        <table class="allDataTable" width="100%" lay-even lay-skin="line" lay-size="lg">
            <thead>
            <tr>
                <td class="layui-col-md1">ID</td>
                <td class="layui-col-md1">排序</td>
                <td class="layui-col-md2">类目</td>
                <td class="layui-col-md2">banner</td>
                <td class="layui-col-md1">是否启用</td>

                <td class="layui-col-md2">添加时间</td>
                <td class="layui-col-md2">操作</td>
            </tr>
            </thead>
            <volist name="list" id="vo" mod="2" empty="暂时没有数据">
                <tr class='layui-row layui-text <eq name="mod" value="1">layui-bg-gray</eq>'
                    style="padding: 15px;font-size: 16px;">
                    <td class="layui-col-md1">
                        {$vo.id}
                    </td>
                    <td class="layui-col-md1">
                        {$vo.usersort}
                    </td>
                    <td class="layui-col-md2">

                        <switch name="vo.xcxtype">
                            <case value="1">广州新时代医院预约挂号中心</case>
                            <case value="2">广州新时代整形美容医院</case>
                            <default/>
                            未知
                        </switch>
                    </td>
                    <td class="layui-col-md2">

                        <img src="{$vo.img}" title="点击查看大图" style="cursor: pointer" onclick="window.open(this.src)">
                    </td>

                    <td class="layui-col-md1">
                        <if condition="$vo['enable'] eq 1 ">是
                            <else/>
                            否
                        </if>
                    </td>


                    <td class="layui-col-md2"
                        title="{$vo.addtime|date='Y年m月d日 h小时 i分',###}">
                        {$vo.addtime|date='y-m-d h:i',###}
                    </td>
                    <td class="layui-col-md1">
                        <i class="layui-icon cp delban icoFont" data-id="{$vo.id}"
                           data-type="del">&#xe640;</i>
                        <a>
                            <i class="layui-icon cp upban icoFont" data-enable="{$vo.enable}" data-xcxtype="{$vo.xcxtype}"
                               data-usersort="{$vo.usersort}" data-id="{$vo.id}" data-type="up">&#xe642;</i>
                        </a>
                        <a>
                            <i class="layui-icon cp  icoFont" title="查看大图" onclick="window.open(this.dataset.src)"
                               data-id="{$vo.id}" data-src="{$vo.img}">&#xe601;</i>
                        </a>
                    </td>
                </tr>
            </volist>
        </table>

        <div id="pages"></div>


    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        By Cai.技术支持：935291958@qq.com
    </div>
</div>


<!--更新banner-->
<div id="upformBox" style="display:none; ">
    <form class="layui-form" method="post" enctype="multipart/form-data" id="upform">
        <input type="hidden" value="" name="id" id="upid">

        <div class="layui-form-item">
            <label class="layui-form-label">是否启用</label>
            <div class="layui-input-block">
                <input type="radio" name="enable" value="1" title="是">
                <input type="radio" name="enable" value="0" title="否">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="number" name="usersort" min="1" max="9999" value="1" lay-verify="required|number"
                       placeholder="请输入排序，不输入默认1，数值越大越靠前[99]" autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" name="id">
                <button class="layui-btn" lay-submit lay-filter="formDemoUpdate">立即提交</button>

            </div>
        </div>
    </form>
</div>

<script src="__PUBLIC__/common/layui/layuiAll.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });

    //删除一条记录
    $('.delban').click(function () {
        var _this = $(this);
        $id = _this.data('id');
        var layerIndex = layer.confirm('确定要删除吗？', {
            btn: ['是的', '我点错了'],
            title: '询问框',
            //用户点了确定
            btn1: function () {
                $.ajax({
                    url: '__CONTROLLER__/delyyghban',
                    data: {'id': $id},
                    dataType: 'json',
                    success: function (res) {
                        //console.log(res);
                        if ('object' === typeof res && res.msg) {

                            layer.msg(res.msg);
                            if (res.res === true) {
                                _this.parent('td').parent('tr').css('display', 'none');
                            }


                        } else {
                            layer.alert('服务器返回数据有误！', {'icon': 2, 'time': 3000});
                        }
                    },
                    error: function () {
                        layer.alert('请求服务器失败！', {'icon': 2, 'time': 3000});
                    }
                })
            },

        });
    });

    //更新按钮悬浮
    $('.delban').hover(function () {
        $tpesIndex = layer.tips('删除', this); //在元素的事件回调体中，follow直接赋予this即可
    }, function () {
        layer.close($tpesIndex);
    });

    //删除按钮悬浮
    $('.upban').hover(function () {
        $tpesIndex = layer.tips('修改', this); //在元素的事件回调体中，follow直接赋予this即可
    }, function () {
        layer.close($tpesIndex);
    });

    //点击更新,显示中间弹窗
    $('.upban').click(function () {
        $that = $(this);

        $id = $that.data('id');
        $enable = $that.data('enable');
        $usersort = $that.data('usersort');

        $('#upformBox').find('input[name="id"]').val($id);
        $('#upformBox').find('input[name="usersort"]').val($usersort);

        if ($enable === 1) {
            $('#upformBox').find('input[name="enable"][value="1"]').attr("checked", true);
        } else {
            $('#upformBox').find('input[name="enable"][value="0"]').attr("checked", true);
        }

        layer.open({
            type: 1,
            title: '修改信息',
            content: $('#upformBox'),
            cancel: function () {
                $('#upformBox').css('display', 'none')
            }
        })
    });

    //监听修改的提交按钮


    //监听提交按钮
    layui.form.on('submit(formDemoUpdate)', function (data) {
        console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
        $.ajax({
            url: '__CONTROLLER__/upyyghban',
            data: data.field,
            type: 'post',
            success: function (res) {
                if ('object' !== typeof res) {
                    layer.alert('返回数据错误');
                    return false;
                }
                if (res.res) {
                    layer.msg(res.msg);
                    setTimeout(function () {
                        window.location.href = window.location.href;
                    },2000)
                } else {
                    layer.alert(res.msg);
                }

            },
            error: function () {
                layer.alert('请求失败');
            }
        });

        return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    });

</script>


</body>


</html>
